body {
    background-color: #f2f2f2;
}

.box {
    min-height: 150px;
    min-width: 150px;
}

.triangulo {
    /* width: 0;
    height: 0; */
    border-style: solid;
    border-width: 8em 0 0 8em;
    border-color: transparent transparent transparent rgb(151, 235, 158);
}

.form-group{
    margin: 18px 0;
}

.nav{
    background-color: #ffffff;
}